header {
  position: sticky;
  margin: 2rem;
  text-align: center;
}
h1 {
  letter-spacing: 0.1rem;
  margin: 0;
}

h3 {
  border-bottom: 0.1rem solid #bbb;
  padding-bottom: 1rem;
  margin: 2rem 0 1rem;
}
