footer {
  display: flex;
  justify-content: center;
  align-content: center;
  max-height: 3rem;
  position: absolute;
  bottom: 0%;
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  footer {
    bottom: 0;
    top: 125%;
    padding: 0 1rem;
  }
}
