.form {
  display: flex;
  gap: 5%;
  margin: 5%;
  justify-content: center;
}

label {
  display: inline-block;
  margin: 1.2rem 0;
  text-align: justify;
}

input[type='text'],
input[type='number'] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 1rem;
  width: 100%;
  text-align: justify;
}

@media only screen and (max-width: 767px) {
  .form {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form_fields {
    margin-bottom: 1rem;
  }
}

.btn_center {
  display: flex;
  justify-content: center;
  margin: 1rem auto;
}

@media only screen and (max-width: 767px) {
  .btn_center {
    max-width: 50%;
  }
}
