.article_container {
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 10%;
}

.nav_buttons {
  position: fixed;
  right: 5%;
  top: 85%;
}

.nav_buttons button {
  background-color: white;
  color: black;
  cursor: pointer;
  font-size: 0.8rem;
  width: 7rem;
  height: 2rem;
  margin-left: -5px;
  font-weight: 500;
  border: 1px solid;
}

.nav_buttons button:hover {
  background-color: black;
  color: white;
}

.nav_mainpage_href {
  color: inherit;
  text-decoration: none;
}

@media only screen and (max-width: 767px) {
  .article_container {
    display: flex;
    flex-direction: column;
  }

  .nav_buttons {
    right: 10%;
    top: 85%;
  }

  .quote {
    margin: 1.5rem 0;
  }

  .quote p {
    font-size: 0.9rem;
  }
}
